<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.stumanage.mapper.ExamMapper">

    <insert id="saveTitleInfo" parameterType="TitleInfo" useGeneratedKeys="true" keyProperty="tit.qid">
        INSERT INTO `examsys`.`titleinfo`
        (`qid`,
        `questitle`,
        `questionType`,
        `quesanswer`
        )
        VALUES
        (null,
        #{tit.questitle},
        #{tit.questionType},
        #{tit.quesanswer}
        );
    </insert>

    <insert id="saveoptions" parameterType="TitleInfo">
        INSERT INTO `options`
                    (`oid`,
                    `option`,
                    `opath`,
                    `o_qid`
                    )
                    VALUES
                    (null,
                    #{o.option},
                    #{o.opath},
                    #{o.o_qid}
                    );
    </insert>

</mapper>